

#logo1 {
    height: 100px;
    width: 330px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#userinfo {
    border: 3px solid green;
}

#companyname, #username, #Password {
    width: 190px;
    margin: 0%;
}
